.btn,
button,
input[type="submit"] {
    color: $white;
    font-family: $main-font, #{$sans};
    font-size: $main-font-size;
    font-weight: 500;
    background-color: $main-color;
    padding: 10px 20px;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s;
    &:hover {
        color: $white;
        background-color: $secondary-color;
    }
    &.rounded {
        border-radius: 500px;
    }
    &.striped {
        border: 2px solid $main-color;
        background-color: transparent;
        &:hover {
            border: 2px solid $secondary-color;
            background-color: transparent;
        }
    }
}