.container {
    position: relative;
    width: $container;
    margin: 0 auto;
    &:before {
        display: table;
        content: "";
        visibility: hidden;
        height: 0;
    }
    &:after {
        display: table;
        content: "";
        visibility: hidden;
        height: 0;
        clear: both;
    }
}
@media (max-width: $container) {
    .container {
        width: 95%;
    }
}