// <>mobile menu
$burger: #fff;
$mm-overlay: #010101;
$mm-links-color: #fff;
$mm-links-color-hover: #ff0000;
$mm-border-color: #eee;
// </>end

// colors
$white: #fff;
$black: #010101;
$grey: #727272;
$red: #B20505;
$blue: #44a2f6;
$green: #3F724C;
$yellow: #F8E208;
$main-color: #f73093;
$secondary-color: #44a2f6;

$content_bg: #fff; //body & html bg color
$grey_bg: #c2c0c6;
$section-header: #2c2d32;

$headings-color: #878787;
$main-text-color: #878787;
$links-color: #878787;
$links-color-hover: #ff0000;
$testimonial-text: #45b5b9;
$border-color: #d8d8db;

$font-color1: #393939;

// fonts
$lhos: 12px; // font-size + $lhos = line-height; | **
$sans: Arial, Helvetica, sans-serif;
$headings-font: 'Playfair Display';
$headings-font-weight: 700;
$main-font: 'Montserrat';

// root font-size is set to 10px by default, so if you need 14px font-size, write 1.4rem, or 1.6rem for 16px, and so on.

//$main-font-size: 16px;
$main-font-size: 1.6rem;
//$mobile-font-size: 14px;
$mobile-font-size: 1.9rem;
$main-font-weight: 400;
//$main-line-height: calc( #{$main-font-size} + #{$lhos} );
//$mobile-line-height: calc( #{$mobile-font-size} + #{$lhos} );

$font-size1: 48px;
//$line-height1: calc( #{$font-size1} + #{$lhos} );
$font-weight1: 300;

// headings
$h-weight: $headings-font-weight;
// H1
$h1: 4.4rem;
$h1mb: 35px;
//$h1t: 4rem;
//$h1m: 3.8rem;
// H2
$h2: 4rem;
$h2mb: 30px;
//$h2t: 3.8rem;
//$h2m: 2.4rem;
// H3
$h3: 3.8rem;
$h3mb: 25px;
//$h3t: 2.4rem;
//$h3m: 2rem;
// H4
$h4: 2.4rem;
//$h4t: 2rem;
//$h4m: 1.5rem;
// H5
$h5: 2rem;
//$h5t: 1.5rem;
//$h5m: 1rem;
// H6
$h6: 1.5rem;
//$h6t: 1rem;
//$h6m: 1px; //letter spacing

// grid
$container: 1200px;

// screen widths
$big-desktop-width: 1600px;
$middle-desktop-width: 1480px;
$small-desktop-width: 1240px;
$tablet-width: 1024px;
$mobile-width: 768px;
$big-mobile-width: 475px;
$large-mobile-width: 425px;
$medium-mobile-width: 375px;
$small-mobile-width: 320px;