.cell {
    width: 100%;
    float: left;
    position: relative;
    padding: 0 10px;
    &.parent {
        padding: 0;
    }
}
.x1 {
    width: 8.33333%;
}
.x2 {
    width: 16.66667%;
}
.x3 {
    width: 25%;
}
.x4 {
    width: 33.33333%;
}
.x5 {
    width: 41.66667%;
}
.x6 {
    width: 50%;
}
.x7 {
    width: 58.33333%;
}
.x8 {
    width: 66.66667%;
}
.x9 {
    width: 75%;
}
.x10 {
    width: 83.33333%;
}
.x11 {
    width: 91.66667%;
}
.x12 {
    width: 100%;
}
.by2 {
    width: 50%;
}
.by3 {
    width: 33.33333%;
}
.by4 {
    width: 25%;
}
.by5 {
    width: 20%;
}
.by6 {
    width: 16.66667%;
}
.by7 {
    width: 14.28571%;
}
.by8 {
    width: 12.5%;
}
.by9 {
    width: 11.11111%;
}
.by10 {
    width: 10%;
}
.by11 {
    width: 9.09091%;
}
.by12 {
    width: 8.33333%;
}
.clear {
    &:before {
        content: "";
        visibility: hidden;
        height: 0;
        display: table;
    }
    &:after {
        content: "";
        visibility: hidden;
        height: 0;
        display: table;
        clear: both;
    }
}