// responsive mixins
@mixin big-desktop {
  @media (max-width: #{$big-desktop-width}) {
    @content;
  }
}

@mixin middle-desktop {
  @media (max-width: #{$middle-desktop-width}) {
    @content;
  }
}

@mixin small-desktop {
  @media (max-width: #{$small-desktop-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop-only {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin big-mobile {
  @media (max-width: #{$big-mobile-width}) {
    @content;
  }
}

@mixin large-mobile {
  @media (max-width: #{$large-mobile-width}) {
    @content;
  }
}

@mixin medium-mobile {
  @media (max-width: #{$medium-mobile-width}) {
    @content;
  }
}

@mixin small-mobile {
  @media (max-width: #{$small-mobile-width}) {
    @content;
  }
}

// OTHERS
@mixin bxz($value) {
  box-sizing: $value;
}

@mixin shadow {  
  box-shadow: 0px 0px 99px 1px rgba(0, 0, 0, 0.2);
}

@mixin clear {
  &:before,
  &:after{
    display: table;
    content: "";
    height: 0;
    visibility: hidden;
  }
  &:after {
    clear: both;
  }
}

@mixin list_h($value) {
  @include clear;
  li{
    float: left;
    margin-left: ($value);
    &:first-child {
      margin: 0;
    }
  }
}

@mixin list_v($value) {
  li{
    float: none;
    margin-top: ($value);
    margin-left: 0;
    &:first-child{
      margin: 0;
    }
  }
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
}

@mixin rounded($value){
  border-radius: $value;
}

@mixin transition($type, $value) {
  transition: $type $value ease;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

@mixin cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin greyscale {
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin section-gradient {
  background: rgb(240,237,237);
  background: -moz-linear-gradient(top, rgba(240,237,237,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(240,237,237,1) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(240,237,237,1) 0%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0eded', endColorstr='#ffffff',GradientType=0 );
}

@mixin section--gradient {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,237,237,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(240,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(240,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0eded',GradientType=0 );
}

//@extend-elements
//original selectors
//button, html input[type="button"], input[type="reset"], input[type="submit"]
%extend_1 {
    cursor: pointer;
    border-style: none;
    -webkit-appearance: button;
}

//original selectors
//[type="checkbox"]:not(:checked) +label, [type="checkbox"]:checked +label, [type="radio"]:not(:checked) +label, [type="radio"]:checked +label
%extend_2 {
    position: relative;
    cursor: pointer;
    padding-left: 25px;
}

//original selectors
//[type="checkbox"]:not(:checked) +label:before, [type="checkbox"]:checked +label:before, [type="radio"]:not(:checked) +label:before, [type="radio"]:checked +label:before
%extend_3 {
    position: absolute;
    left: 0;
    top: 8px;
    content: '';
    width: 16px;
    height: 16px;
    border: 1px solid $border-color;
    background: white;
}

//original selectors
//[type="checkbox"]:not(:checked) +label:before, [type="checkbox"]:checked +label:before
%extend_4 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
}

//original selectors
//[type="radio"]:not(:checked) +label:before, [type="radio"]:checked +label:before
%extend_5 {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 50%;
}

//original selectors
//[type="checkbox"]:not(:checked) +label:after, [type="checkbox"]:checked +label:after, [type="radio"]:not(:checked) +label:after, [type="radio"]:checked +label:after
%extend_6 {
    position: absolute;
    top: 12px;
    left: 4px;
    content: '';
    width: 8px;
    height: 8px;
    line-height: 0.8;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all .2s;
    background: #0096db;
}

//original selectors
//[type="checkbox"]:not(:checked) +label:after, [type="checkbox"]:checked +label:after
%extend_7 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 2px;
}

//original selectors
//[type="radio"]:not(:checked) +label:after, [type="radio"]:checked +label:after
%extend_8 {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 50%;
}

//original selectors
//input[type="text"], input[type="email"], input[type="tel"], textarea
%extend_9 {
    width: 100%;
    height: 40px;
    color: #8b8b8b;
    font-size: 1.4rem;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 0 transparent;
    border: 1px solid #dfdfdf;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 2px;
    background-color: #fff;
    padding: 0 15px;
    margin-bottom: 45px;
}
//@extend-elements
//original selectors
//*, *:before, *:after
%extend_10 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
}

//original selectors
//html, body
%extend_11 {
    background-color: $content_bg;
    background-repeat: repeat;
    text-rendering: optimizeLegibility !important;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
}

//original selectors
//sub, sup
%extend_12 {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
//@extend-elements
//original selectors
//table, th, td
%extend_13 {
    vertical-align: top;
    line-height: 1;
    border-spacing: 0;
    border: 1px solid $border-color;
    padding: 1em;
}
//@extend-elements
//original selectors
//h1, h2, h3, h4, h5, h6
%extend_14 {
    color: $headings-color;
    font-family: $headings-font, #{$sans};
    font-weight: $headings-font-weight;
    line-height: normal;
    letter-spacing: -1px;
    text-transform: none;
    margin: 0;
    margin-bottom: 10px;
}

//original selectors
//h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
%extend_15 {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: -1px;
}