html {
    font-size: 10px;
    @include tablet {
        font-size: 8px;
    }
    @include mobile {
        font-size: 7px;
    }
}

p, a, span,
li,
label {
    @include tablet {
        font-size: $mobile-font-size;
    }
}
@include tablet {
    h1 {font-size: $h2;}
    h2 {font-size: $h3;}
    h3 {font-size: $h4;}
    h4 {font-size: $h5;}
    h5 {font-size: $h6;}
}
@include mobile {
    h1 {font-size: $h3;}
    h2 {font-size: $h4;}
    h3 {font-size: $h5;}
    h4 {font-size: $h6;}
}

h1,h2,h3,h4,h5,h6,
p, a, span,
li,
label, input {
    line-height: 1.25;
}

h1 {
    @extend %extend_14;
    font-size: $h1;
    font-weight: $h-weight;
    //line-height: calc( #{$h1} + #{$lhos} );
    margin-bottom: $h1mb;
    a {
        @extend %extend_15;
    }
    b,
    strong {
        font-weight: 900;
    }
}
h2 {
    @extend %extend_14;
    font-size: $h2;
    font-weight: $h-weight;
    //line-height: calc( #{$h2} + #{$lhos} );
    margin-bottom: $h2mb;
    a {
        @extend %extend_15;
    }
    b,
    strong {
        font-weight: 900;
    }
}
h3 {
    @extend %extend_14;
    font-size: $h3;
    font-weight: $h-weight;
    //line-height: calc( #{$h3} + #{$lhos} );
    margin-bottom: $h3mb;
    a {
        @extend %extend_15;
    }
    b,
    strong {
        font-weight: 900;
    }
}
h4 {
    @extend %extend_14;
    font-size: $h4;
    font-weight: $h-weight;
    //line-height: calc( #{$h4} + #{$lhos} );
    a {
        @extend %extend_15;
    }
    b,
    strong {
        font-weight: 900;
    }
}
h5 {
    @extend %extend_14;
    font-size: $h5;
    font-weight: $h-weight;
    //line-height: calc( #{$h5} + #{$lhos} );
    a {
        @extend %extend_15;
    }
    b,
    strong {
        font-weight: 900;
    }
}
h6 {
    @extend %extend_14;
    font-size: $h6;
    font-weight: $h-weight;
    //line-height: calc( #{$h6} + #{$lhos} );
    a {
        @extend %extend_15;
    }
    b,
    strong {
        font-weight: 900;
    }
}
/*@include tablet {
    h1 {
        font-size: $h1t;
        line-height: calc( #{$h1t} + #{$lhos} );
    }
    h2 {
        font-size: $h2t;
        line-height: calc( #{$h2t} + #{$lhos} );
    }
    h3 {
        font-size: $h3t;
        line-height: calc( #{$h3t} + #{$lhos} );
    }
    h4 {
        font-size: $h4t;
        line-height: calc( #{$h4t} + #{$lhos} );
    }
    h5 {
        font-size: $h5t;
        line-height: calc( #{$h5t} + #{$lhos} );
    }
    h6 {
        font-size: $h6t;
        line-height: calc( #{$h6t} + #{$lhos} );
    }
    p {
        font-size: $mobile-font-size;
        line-height: $mobile-line-height;
    }
}*//*
@include mobile {
    h1 {
        font-size: $h1m;
        line-height: calc( #{$h1m} + #{$lhos} );
    }
    h2 {
        font-size: $h2m;
        line-height: calc( #{$h2m} + #{$lhos} );
    }
    h3 {
        font-size: $h3m;
        line-height: calc( #{$h3m} + #{$lhos} );
    }
    h4 {
        font-size: $h4m;
        line-height: calc( #{$h4m} + #{$lhos} );
    }
    h5 {
        font-size: $h5m;
        line-height: calc( #{$h5m} + #{$lhos} );
    }
    h6 {
        letter-spacing: $h6m;
        line-height: calc( #{$h6m} + #{$lhos} );
    }
}*/
p {
    font-family: $main-font, #{$sans};
    color: $main-text-color;
    font-size: $main-font-size;
    font-weight: $main-font-weight;
    //line-height: $main-line-height;
    //letter-spacing: -0.5px;
    margin: 0 0 25px;
    &:empty {
        display: none;
        margin: 0;
    }
    a {
        font-size: 100%;
        margin: 0;
        color: $links-color;
        text-decoration: none;
        &:hover {
            color: $links-color-hover;
        }
    }
    span {
        font-size: 100%;
        margin: 0;
    }
    label {
        font-size: 100%;
        margin: 0;
    }
    i {
        font-style: italic;
    }
    b {
        font-style: italic;
        font-weight: 700;
    }
}
a {
	display: inline-block;
    font-family: $main-font, #{$sans};
    font-size: $main-font-size;
    font-weight: $main-font-weight;
    margin: 0;
    color: $links-color;
    //letter-spacing: -0.5px;
    margin: 0;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s ease;
    text-decoration: none;
    p {
        font-size: 100%;
        margin: 0;
    }
    a {
        font-size: 100%;
        margin: 0;
    }
    span {
        font-size: 100%;
        margin: 0;
    }
    label {
        font-size: 100%;
        margin: 0;
    }
    &:hover {
        color: $links-color-hover;
        outline: 0;
    }
    &:focus {
        outline: none;
    }
    &:active {
        outline: 0;
    }
}
span {
    font-family: $main-font, #{$sans};
    font-size: $main-font-size;
    font-weight: $main-font-weight;
    margin: 0;
    p {
        font-size: 100%;
        margin: 0;
    }
    a {
        font-size: 100%;
        margin: 0;
    }
    span {
        font-size: 100%;
        margin: 0;
    }
    label {
        font-size: 100%;
        margin: 0;
    }
}
label {
    font-family: $main-font, #{$sans};
    font-size: $main-font-size;
    font-weight: $main-font-weight;
    margin: 0;
    p {
        font-size: 100%;
        margin: 0;
    }
    a {
        font-size: 100%;
        margin: 0;
    }
    span {
        font-size: 100%;
        margin: 0;
    }
    label {
        font-size: 100%;
        margin: 0;
    }
}
strong {
    font-weight: 700;
}
b {
    font-weight: 700;
}
blockquote {
    padding: 10px 0 10px 20px;
    position: relative;
    margin: 40px 0;
    &:before {
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        display: block;
        content: '';
        height: 100%;
        width: 5px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        background: #d7d7d7;
    }
    p {
        color: $main-text-color;
        font-family: $main-font, #{$sans};
        font-size: $main-font-size;
        line-height: $main-line-height;
        font-weight: $main-font-weight;
        font-style: italic;
        margin: 0;
    }
}
@include tablet {
    blockquote {
        padding: 5px 0 5px 15px;
        margin: 20px 0;
    }
}
// @include mobile {
//     blockquote p {
//         font-size: 16px;
//         line-height: 24px;
//     }
// }
li {
    color: $main-text-color;
    font-family: $main-font;
    font-size: $main-font-size;
    //line-height: $main-line-height;
    font-weight: $main-font-weight;
    list-style-type: none;
    margin: 0 0 7px;
    @include mobile {
        font-size: $mobile-font-size;
        //line-height: $mobile-line-height;
    }
}
.the-content ul {
    li {
        // list-style-type: disc !important;
        &:before {
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f111";
            color: $main-text-color;
            font-size: 7px;
            width: 1em;
            vertical-align: middle;
            margin-right: 5px;
        }
    }
}

.the-content ol {
    list-style-type: none;
    padding-right: 0;
    margin-left: 0;
    li {
        // list-style-type: decimal !important;
        counter-increment: step-counter;
        &:before {
            color: $main-text-color;
            content: counter(step-counter)".";
            margin-right: 5px;
        }
    }
}
.white-txt {
    h1 {
        color: white;
    }
    h2 {
        color: white;
    }
    h3 {
        color: white;
    }
    h4 {
        color: white;
    }
    h5 {
        color: white;
    }
    h6 {
        color: white;
    }
    p {
        color: white;
    }
    a {
        color: white;
    }
    span {
        color: white;
    }
    li {
        color: white;
    }
}