body {
    //left: 0;
    left: auto;
    //right: auto;
    right: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    &.menu-open {
        position: relative;
        //left: 260px;
        right: 260px;
        overflow: hidden;
        transition: all 0.3s ease;
    }
}

.menu-toggle {
    position: relative;
    width: 27px;
    height: 20px;
    .button-menu-line {
        position: absolute;
        left: 0;
        display: block;
        height: 2px;
        width: 27px;
        background-color: $burger;
        transition: all 0.3s ease;
        &.button-menu-line--1 {
            top: 0;
            transform-origin: center center 0px;
            transform: matrix(1, 0, 0, 1, 0, 0);
        }
        &.button-menu-line--2 {
            top: 7px;
            transform-origin: center center 0px;
            transform: matrix(1, 0, 0, 1, 0, 0);
        }
        &.button-menu-line--3 {
            top: 14px;
            transform-origin: center center 0px;
            transform: matrix(1, 0, 0, 1, 0, 0);
        }
    }
}
.burger {
    display: none;
    @include tablet {
        display: inline-block;
    }
}
.menu-logo {
    text-align: center;
    margin-bottom: 10px;
    img {
        width: 50%;
    }
}
.menu-content {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 25px;
}
.menu-open {
    .menu-toggle {
        .button-menu-line {
            &.button-menu-line--1 {
                transform-origin: center center 0px;
                transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 1, 10);
            }
            &.button-menu-line--2 {
                transform-origin: center center 0px;
                transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 1, 3);
            }
            &.button-menu-line--3 {
                opacity: 0;
            }
        }
    }
    .menu-overlay {
        right: 0;
        width: 260px;
        z-index: 999999;
    }
}
nav {
    &#mobile-menu {
        z-index: 999999;
    }
    &.mobile-menu {
        margin-top: 25px;
        ul {
            &.sub-menu {
                display: none;
                padding-left: 25px;
                margin-top: 10px;
                li {
                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }
        }
        li {
            border-bottom: 1px solid $mm-border-color;
            padding: 5px 0;
            &.current-menu-item,
            &.current_page_item {
                a {
                    color: $mm-links-color-hover;
                }
            }
            &:hover {
                ul {
                    &.sub-menu {
                        display: block;
                    }
                }
                a {
                    color: $mm-links-color-hover;
                }
            }
            a {
                color: $mm-links-color;
                //text-transform: uppercase;
            }
            &.menu-item-has-children {
                position: relative;
                &:hover {
                    &:after {
                        transform: rotate(-180deg);
                    }
                }
                &:after {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f0d7";
                    color: $mm-links-color;
                    transition: all .3s ease;
                }
            }
        }
    }
}
.menu-overlay {
    position: fixed;
    top: 0;
    //left: -260px;
    right: -260px;
    height: 100%;
    width: 260px;
    overflow-x: hidden;
    background-color: $mm-overlay;
    //box-shadow: 15px 0px 25px -5px rgba(0,0,0,0.35);
    z-index: 1;
    transition: all 0.3s ease;
}